
<!-- <div class="container">
  <div class="check-out">
    <h4 class="title">Shopping cart is empty</h4>
    <p class="cart">
      You have no items in your shopping cart.<br>Click<a
        href="index.html"> here</a> to continue shopping
    </p>
  </div>

</div> -->
<style>
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }
    
    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }
    
    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }
    
    
    
    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}
    
}
</style>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <br>
    <h3>Giỏ hàng</h3>
    <br>
    <table id="cart" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:50%">Món ăn</th>
                            <th style="width:10%">Giá</th>
                            <th style="width:8%">Số lượng</th>
                            <th style="width:22%" class="text-center">Số tiền</th>
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in cart.items">
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs"><img src="{{getProductById(item.productId).images[0].imageUrl}}" alt="..." class="img-responsive"/></div>
                                    <div class="col-sm-10">
                                        <h4 class="nomargin">{{getProductById(item.productId).name}}</h4>
                                        <p>{{getProductById(item.productId).description}}</p>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price">{{item.price | currency:"VNĐ "}}</td>
                            <td data-th="Quantity">
                                <input type="number" class="form-control text-center" ng-model="quantity" value="{{item.quantity}}" >
                            </td>
                            <td data-th="Subtotal" class="text-center">{{item.total | currency:"VNĐ "}}</td>
                            <td class="actions" data-th="">
                                <button class="btn btn-info btn-sm" ng-click="btnCapNhatClick(cart.id, item.productId)" style="margin-bottom: 10px;">Cập nhật số lượng</button>
                                <button class="btn btn-danger btn-sm" ng-click="btnXoaClick(cart.id, item.productId)">Xóa</button>                                
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="visible-xs">
                            <td class="text-center"><strong>Total 1.99</strong></td>
                        </tr>
                        <tr>
                            <td><a href="#/!" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua sắm</a></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>{{cart.total | currency:"VNĐ "}}</strong></td>
                            <td><a href="#!checkout" class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></a></td>
                        </tr>
                    </tfoot>
                </table>
</div>