
<div class="container">
  <div class="products">
    <h2 class=" products-in">MÓN ĂN</h2>
    <div class="row" style="margin: 0 auto;">
      <div class="col-xs-2">
        <div class="dataTables_length" id="example1_length">
          <label>Kích thước trang <select
            style="margin-left: 10px; margin-right: 10px"
            name="example1_length" aria-controls="example1"
            class="form-control input-sm" ng-model="size">
              <option value="8">8</option>
              <option value="12">12</option>
              <option value="16">16</option>
              <option value="20">20</option>
          </select>
          </label>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="dataTables_length" id="example1_length">
          <label>Trang <select
            style="margin-left: 10px; margin-right: 10px"
            name="example1_length" aria-controls="example1"
            class="form-control input-sm" ng-model="page">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
          </select>
          </label>
        </div>
      </div>
      <div class="col-xs-8">
        <div id="example1_filter" class="dataTables_filter">
          <label> Search:<input ng-keyup="searchProductByName()"
            type="search" style="margin-left: 10px"
            class="form-control input-sm" placeholder=""
            aria-controls="example1" ng-model="nameSearch">
          </label>
        </div>
      </div>
    </div>

    <div class=" top-products">
      <div class="col-md-3 md-col" style="margin-bottom: 25px;"
        ng-repeat="product in products | limitTo:size:(page - 1) * size | orderBy: attribute:reverse">
        <div class="col-md">
          <a href="#!product_detail/{{product.id}}" class="compare-in"><img
            style="height: 205px;"
            src="{{ product.images[0].imageUrl }}" alt="" />
            <div class="compare">
              <span>Xem chi tiết</span>
            </div> </a>
          <div class="top-content">
            <h5 style="height: 70px">
              <a href="single.html">{{ product.name }}</a>
            </h5>
            <div class="white">
              <a href="single.html"
                class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">MUA HÀNG</a>
              <p class="dollar">
                <span>{{ product.price | currency:"VNĐ "}}</span>
              </p>
              <div class="clearfix"></div>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="clearfix"></div>
  <br>
  <br>
</div>
