<!-- Content Header (Page header) -->
<section class="content-header" ng-init="getCategories()">
  <h1>Danh mục sản phẩm</h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Thêm/Sửa danh mục</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form name="formCategory" role="form" novalidate="novalidate">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Tên danh mục 
                <i class="fa fa-check" style="color:green" ng-show="formCategory.title.$dirty && formCategory.title.$valid"></i>
                <i class="fa fa-times-circle-o" style="color:red" ng-show="formCategory.title.$dirty && formCategory.title.$error.required"></i>
              </label> 
              <input type="text" class="form-control" id="exampleInputEmail1" name="title" ng-model="categoryForm.title"  required="required">
              <span class="help-block" style="color:red" ng-show="formCategory.title.$dirty && formCategory.title.$error.required">
                 Tên danh mục không được để trống 
              </span>
            </div>
            <div class="form-group">
              <label>Mô tả 
                <i class="fa fa-check" style="color:green" ng-show="formCategory.description.$dirty && formCategory.description.$valid"></i>
                <i class="fa fa-times-circle-o" style="color:red" ng-show="formCategory.description.$dirty && formCategory.description.$error.required"></i>
              </label>
              <textarea class="form-control" rows="3" placeholder="Enter ..." name="description" ng-model="categoryForm.description" required="required"></textarea>
              <span class="help-block" style="color:red" ng-show="formCategory.description.$dirty && formCategory.description.$error.required">
                 Mô tả không được để trống 
              </span>
            </div>
            
            <div class="form-group has-success" ng-show="addSuccess">
              <label class="control-label" for="inputSuccess"> <i class="fa fa-check"></i> Thêm danh mục thành công</label> 
            </div>
            <div class="form-group has-success" ng-show="updateSuccess">
              <label class="control-label" for="inputSuccess"> <i class="fa fa-check"></i> Sửa danh mục thành công</label> 
            </div>
            <!-- <div class="form-group has-error">
              <label class="control-label" for="inputError"> <i class="fa fa-times-circle-o"></i> Thông tin nhập vào không hợp lệ</label> 
            </div> -->
          </div>
          
          <!-- /.box-body -->
          
          <div class="box-footer">
            <button class="btn btn-danger" ng-disabled="(!formCategory.$dirty || (formCategory.$dirty && formCategory.$invalid))" ng-click="btnLuuClick()">Lưu</button>
            <button class="btn btn-primary" ng-disabled="(!formCategory.$dirty || (formCategory.$dirty && formCategory.$invalid))" ng-click="btnSuaOnFormClick()">Sửa</button>
            <button class="btn btn-default" ng-click="btnResetClick()">Reset</button>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-6">
      <!-- Horizontal Form -->
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Bảng danh mục</h3>
        </div>

        <div class="box-body">
          <div id="example1_wrapper"
            class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-4">
                <div class="dataTables_length" id="example1_length">
                  <label>Kích thước trang 
                    <select style="margin-left: 10px; margin-right: 10px" name="example1_length" aria-controls="example1"
                      class="form-control input-sm" ng-model="size">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                  </select>
                  </label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="dataTables_length" id="example1_length">
                  <label>Trang <select
                    style="margin-left: 10px; margin-right: 10px"
                    name="example1_length" aria-controls="example1"
                    class="form-control input-sm" ng-model="page">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                  </select>
                  </label>
                </div>
              </div>
              <div class="col-sm-5">
                <div id="example1_filter" class="dataTables_filter">
                  <label>
                    Search:<input ng-keyup="searchCategoryByName()" type="search" style="margin-left: 10px" class="form-control input-sm" placeholder="" aria-controls="example1" ng-model="nameSearch">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table id="example1"
                  class="table table-bordered table-striped dataTable"
                  role="grid" aria-describedby="example1_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0"
                        aria-controls="example1" rowspan="1" colspan="1"
                        aria-sort="ascending"
                        aria-label="Rendering engine: activate to sort column descending"
                        style="width: 231px;">STT</th>
                      <th class="sorting" tabindex="0"
                        aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="Browser: activate to sort column ascending"
                        style="width: 282px;" ng-click="orderCategory('title')">Tên danh mục</th>
                      <th class="sorting" tabindex="0"
                        aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="Platform(s): activate to sort column ascending"
                        style="width: 130px;">Tùy chọn</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="category in categories | limitTo:size:(page - 1) * size | orderBy: attribute:reverse">
                      <td>{{ $index + 1 }}</td>
                      <td>{{ category.title }}</td>
                      <td>
                        <button type="submit" class="btn btn-primary" ng-click="btnSuaOnTableClick(category)">Sửa</button>
                        <button type="reset" class="btn btn-default" ng-click="btnXoaClick(category.id)">Xóa</button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th rowspan="1" colspan="1">STT</th>
                      <th rowspan="1" colspan="1">Tên danh mục</th>
                      <th rowspan="1" colspan="1">Tùy chọn</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <!-- <div class="dataTables_info" id="example1_info"
                  role="status" aria-live="polite">Showing 1 to 10
                  of 57 entries</div> -->
              </div>
              <!-- <div class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers"
                  id="example1_paginate">
                  <ul class="pagination" >
                    <li class="paginate_button previous disabled"
                      id="example1_previous"><a href="#"
                      aria-controls="example1" data-dt-idx="0"
                      tabindex="0">Previous</a></li>
                    <li class="paginate_button active"><a href="#"
                      aria-controls="example1" data-dt-idx="1"
                      tabindex="0">1</a></li>
                    <li class="paginate_button " ><a href="#"
                      aria-controls="example1" data-dt-idx="2"
                      tabindex="0">2</a></li>
                    <li class="paginate_button next" id="example1_next"><a
                      href="#" aria-controls="example1" data-dt-idx="7"
                      tabindex="0">Next</a></li>
                  </ul>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
  <!-- /.row -->

</section>
<!-- /.content -->